:root {
    --primeColor: rgb(13,154,149);
}

.digital-blog button{
        background-color: var(--primeColor);

        body{
            font-size: 100%;
            margin: 0;
            padding: 0;
            font-family: sans-serif;
        }
        .navbar{
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0.5rem 1.5vw;
            box-shadow: 0 0.2rem 0.5rem rgba(13,154,149,0.5);

        }
        .logo{
            width: 6vw;
            max-width: 4rem;
            height: auto;
            margin-left: 5em;
        }
        .nav-list{
            list-style: none;
            display: flex;
            gap: 2.5rem;

        }
        .nav-list li a{
            text-decoration: none;
            font-size: 1rem;
            font-weight: 300;
            color: black;
        }
        .icons {
            display: flex;
            gap: 1.5rem;
            margin-right: 5em;

        }
        .hero{

            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-between;
            padding: 8em 10%;
            gap: 5vw;
            background-image: url("Pictures/background.png");
            background-repeat: no-repeat;
            background-position: contain;
            background-size: 1500px;

        }
        .hero .text{
            max-width: 40%;
            min-width: 280px;
            line-height: 1.5em;
            font-size: 100%;
        }
        .hero .text h1{
            font-size: 3rem;
            margin-bottom: 2rem;
            line-height: 1.2;
        }
        .hero .blue{
            color:rgb(13,154,149);
        }
        .hero button{
            background-color:rgb(13,154,149);
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;
    }
            margin-top: 3em;
        }
        .hero-img{
            width: 45%;
            display: flex;
            justify-content: center;
        }
        .hero-img img{
            max-width: 100%;
            height: auto;
        }

        /*<!-- Features: -->*/
        .feature{
            display: flex;
            justify-content: center;
            gap: 5vw;
            padding: 6vh 10vw;
        }
        .feature-boxes{
            text-align: center;
            padding: 1rem;
            border:  thin solid rgb(13,154,149);
            box-shadow: 0rem 0rem 1rem rgb(13,154,149,0.5);
            
        }
        .feature-boxes i{
            font-size: 2.5rem;
            color: rgb(13,154,149);
            margin-bottom: 1rem;
        }
        .feature-boxes h{
            font-size: 120%;
            font-weight: 700;
        }
        .feature-boxes p{
            font-size: 90%;
        }

        /* -- about section: --*/
        .about{
            padding: 8vh 10vw;
            display: flex;
            gap: 5vw;
            justify-content: center;
        }
        .about-img{
            flex: 1 1 40%;
            text-align: center;
        }
        .about-img img{
            max-width: 100%;
            height: auto;
        }
        .about-text{
            flex: 1 1 45%;
        }
        .about-text h2{
            font-size: 2.5rem;
            margin-bottom: 1rem;
            line-height: 1.6;
        }
        .about-text p{
            font-size: 1rem;
            margin-bottom: 3rem;
            line-height: 1.5;
        }
        .about-text h1{
            font-size: 250%;
        }
        .about button{
            background-color:rgb(13,154,149);
            color: white;
            border: none;
            padding: 0.5rem 1rem;
            font-size: 1rem;
            cursor: pointer;
        }

